{{#ifOr this.secondaryText this.table }}

<section class="product-descript-section">
  <div class="product-descript-section__in container-with-side">
    {{#if this.secondaryText}}
      <div class="product-descript-section__text">
        {{{ this.secondaryText }}}
      </div><!--.product-descript-section__text-->
    {{/if}}

    {{#ifOr this.table this.char }}
      <div class="product-descript-section__chars">
        {{#if table}}
          <div class="product-descript-section__table responsive-table">
            <table class="table">
              <tr>
                <th>Технические параметры</th>
                <th>Значение</th>
              </tr>
              {{#each this.table }}
                <tr>
                  {{#each this }}
                    <td>{{{ this }}}</td>
                  {{/each}}
                </tr>
              {{/each}}
            </table>
          </div><!--.product-descript-section__table-->
        {{/if}}

        {{#if this.char }}
          <div class="product-descript-section__square square">
            <div class="square__content">
              <div class="square__label">
                {{{ this.char.label }}}
              </div>
              <div class="square__value">
                <span class="square__num">{{{ this.char.value }}}</span>
                <span class="square__units">{{{ this.char.units }}}</span>
              </div>
            </div>
          </div><!--.square-->
        {{/if}}
      </div><!--.product-descript-section__chars-->
    {{/ifOr}}
  </div><!--.container-with-side-->
</section><!--.product-descript-section-->

{{/ifOr}}
