<section class="product-main-section">
  <div class="product-main-section__preview">
    <div class="product-main-section__preview-wrapper">
      <img
        class="product-main-section__preview-img lazyload"
        data-size="auto"
        data-srcset="
          ./asset/img/products/{{ this.category }}/{{ slug }}.png 918w,
          ./asset/img/products/{{ this.category }}/{{ slug }}@2x.png 1836w"
        alt="{{{ this.title }}}"
      />
    </div>
  </div><!--.product-main-section__preview-->

  <div class="product-main-section__content">
    <div class="product-main-section__top">
      <a class="back-link" href="./catalog.html">
        &lt; Назад
      </a>

      <h1 class="product-main-section__title">
        {{{ this.title }}}
      </h1>

      <div class="base-text">
        {{{ this.baseText }}}
      </div><!--.base-text-->
    </div><!--.product-main-section__top-->

    {{#if this.consistList }}
      <div class="product-main-section__bottom">
        <div class="product-main-section__content-wrapper">
          <h2 class="h3 spacer-bottom-xl">
            {{{ this.consistList.title }}}
          </h2>

          <div class="base-text">
            <ul>
              {{#each this.consistList.list }}
                <li>{{{ this }}}</li>
              {{/each}}
            </ul>
          </div>
        </div><!--.product-main-section__content-wrapper-->
      </div><!--.product-main-section__bottom-->
    {{/if}}
  </div><!--.product-main-section__content-->
</section><!--.product-main-section-->
